# Add your Truugo API credentials here. All fields are required and they are only used for unit tests.
TRUUGO_API_USERNAME=""
TRUUGO_API_PASSWORD=""
# Add your profiles' group key here.
TRUUGO_API_GROUP_KEY=""
# Add your profiles' item key here.
TRUUGO_API_ITEM_KEY=""
# Add your profiles' file key here.
TRUUGO_API_FILE_KEY=""
# Test file is used for unit testing. Place a file in TestFiles folder and set the name here. The file must match the type of file key.
TEST_FILE_NAME=""