# Add your Truugo API credentials here. All fields are required and they are only used for unit tests.
TRUUGO_API_USERNAME=""
TRUUGO_API_PASSWORD=""
# Test file is used for unit testing. Place a file in TestFiles folder and set the name here.
TEST_FILE_NAME=""