# Rename this file to .env to run tests locally
# Add your Truugo API credentials here. All fields are required and they are only used for unit tests.
TRUUGO_API_USERNAME="placeholder"
TRUUGO_API_PASSWORD="placeholder"
# Test file is used for unit testing. Place a file in TestFiles folder and set the name here.
EDIFACT_TEST_FILE_NAME=""